.rock1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:10px rgb(102, 185, 64) solid;
    background-color:rgb(88, 148, 64);
    font-style: italic;
    color: rgb(72, 75, 75);
    margin-left: 3%;
        position:relative;
        width: 250px;
        height: auto;
        overflow:hidden;
        clip-path: polygon(
          0 10%,
          10% 0,
          90% 0,
          100% 10%,
          100% 90%,
          90% 100%,
          10% 100%,
          0% 90%,
          0% 10%
        )

      
}

.rock2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:10px rgb(102, 185, 64) solid;
    background-color:rgb(88, 148, 64);
    color: rgb(72, 75, 75);
    width: 190px;
    margin-top: 1%;
    margin-left: 3%;
    position:relative;
    overflow:hidden;
    clip-path: polygon(
      0 10%,
      10% 0,
      90% 0,
      100% 10%,
      100% 90%,
      90% 100%,
      10% 100%,
      0% 90%,
      0% 10%)
}
.rock3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:10px rgb(102, 185, 64) solid;
    background-color:rgb(136, 206, 108);
    margin-top: 1%;
    max-width: 95%;
    font-size: 18px;
    color: rgb(47, 62, 54);
    margin-left: 3%;
}
.rock4{
    padding: 20px 25px;
}

a:link {
    color: rgb(201, 255, 166);
    margin-left: 3%;
  }
  a:visited {
    color: rgb(143, 155, 161);
    margin-left: 3%;
  }
.rock6{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(136, 235, 93);  
    font-size: 30px;
    font-style: bold;
    background-color: rgb(54, 79, 64);
    margin-left: 5%;
    
}
  .topnav{
    background-color: rgb(43, 58, 117);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid rgb(119, 153, 181);
  }
  .parkInput {
    background-color: rgb(77, 168, 138);
    margin-left: 5%;
    margin-top: 1%;
    background-color: rgb(54, 79, 64);
  }

  .results{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5%;
    max-width: 75%;
  }
  .rockList1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(54, 79, 64);
    color: rgb(131, 217, 97);
    margin-left: 3%;
    margin-right: 3%;
  }
  html {
    background-color: rgb(20, 30, 24);
    margin-left: 5%;
    margin-right: 5%;
  }
.parkBtn{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:3px rgb(102, 185, 64) dashed;
    background-color:rgb(88, 148, 64);
    font-style: italic;
    color: rgb(72, 75, 75);
    margin-left: 3%;
}
.parkForm{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(54, 79, 64);
  color: rgb(131, 217, 97);
display: block;
margin-left: 3%;
}
.parkBG{
  background-color: rgb(54, 79, 64);
}
.parkForm2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(116, 170, 138);
  color: rgb(46, 60, 40);
display: block;
margin-left: 3%;
margin-bottom: 10px;
}
.parkForm3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(116, 170, 138);
  color: rgb(46, 60, 40);
display: block;
margin-left: 3%;
}

